@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
}


:root{
    --orange: #E87400;
    --background: #FFFEF7;
    --btnHover: #ff8409;
    --greyHover: #e7e5e0;
}

body{
    background-color: var(--background);
    display: flex; /* Ativa Flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    min-height: 100vh; /* Altura mínima de 100% da viewport */
    margin: 0; /* Remove margem padrão do body */
    }
    
h1{ /*titulo*/
        background-color: var(--orange);
        margin-top:0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000; /*garante que fique acima de outros elementos*/;
        font-family: Geneva,sans-serif;
        padding: 20px;
        color: white;
        text-align: center;
}

/*FIXAR POSIÇÃO DO BOTÃO VOLTAR*/
.voltar {
    position: absolute;
    left: 1156px; /* Posição x */
    top: 700px; /* Posição y */
}

button{
    width: 150px; /* Largura fixa do botão */
    height: 40px; /* Altura fixa do botão */
    font-weight: bold;
    background-color: var(--orange);
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
   
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Aumenta a sombra ao passar o mouse */

}

button:hover{
    background-color: var(--btnHover);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Aumenta a sombra ao passar o mouse */

}


.container{
    /*top: 120px;
    left: 25%;*/
    /*position:absolute;*/
    display:flex;
    /*grid-template-columns: 1fr 1fr; /*duas colunas*/
    /*fr = fração de espaço*/
    gap: 100px; /*espaçamento entre colunas*/   
}

.coluna{
    display:flex;
    flex-direction: column;
    gap: 50px;
}

.quadro{
    width: 350px; /* Largura fixa do botão */
    height: 100px; /* Altura fixa do botão */
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0, 0.2); 
    /*sombra ao redor do quadrado; 
    0(x, deslocamento horizontal da sombra) 
    0(y, deslocamento vertical da sombra)
    10px(raio de desfoque)
    rgba = definir cores e controlar opacidade*/
    border-radius: 5px; /*cantos arredondados*/
    padding: 10px;
    line-height: 0.75;
    font-size:large;
    padding-bottom: 20px;
    padding-top:0px;
    cursor:pointer;
}

.quadro:hover{
    background-color: var(--greyHover);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Aumenta a sombra ao passar o mouse */
}
