@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
}


:root{
    --orange: #E87400;
    --background: #FFFEF7;
    --btnHover: #ff8409;
    --greyHover: #e7e5e0;
}

h1{ /*titulo*/
    background-color: var(--orange);
    margin-top:0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /*garante que fique acima de outros elementos*/;
    font-family: Geneva,sans-serif;
    padding: 20px;
    color: white;
    text-align: center;
}


.container {
    text-align: center;
    margin: 20px;
  }
  
  .btnNavegacao {
    background-color: var(--orange);
    color: white;
    border: 1px;
    border-color: black;
    border-radius: 100%;
    margin-bottom: 10px;
  }
  
  button {
    
    padding: 10px 20px;
    cursor: pointer;
  }

  
  
  button:focus {
    outline: none;
  }
  
  .tabela {
    display: none;
  }
  
  .tabelaAtiva {
    display: block;
  }
  